.select {
  width: 100%;
  vertical-align: middle;
  line-height: 48px;
  padding: 0 0.5rem;
  background-color: #fff;
  -webkit-appearance: none;
  font-size: 1.2rem;
  text-transform: capitalize;
}
