.breed {
  background-color: transparent;

  &Search {
    height: auto;
    vertical-align: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    &Select {
      flex: 5 1 0;
    }

    &Button {
      flex: 1 1 0;
    }
  }
}
